.qr-code {
    display: grid;
    text-align: center;
    grid-gap: 1rem;
    padding: 1.125rem;
    border-radius: $round;
    background-color: white;
    max-width: 20.75rem;

    .qr-image {
        width: 18.125rem;
        height: auto;
        aspect-ratio: 1 / 1;
        border-radius: $round;
        overflow: hidden;
    }

    .content {
        padding-bottom: 1.5rem;
        padding: 0 0.75rem;

        h1 {
            padding-bottom: 1rem;
            color: $dark-blue;
            font-weight: $f-bold;
        }

        p {
            padding-bottom: 1rem;
            font-size: $f-para;
            color: $grayish-blue;
            font-weight: $f-regular;
        }
    }
}