// font declarations

$font: 'Outfit', sans-serif;

$f-regular: 400;
$f-bold: 700;

$f-para: 0.9375rem;

// Colors

$light-gray: hsl(212, 45%, 89%);
$grayish-blue: hsl(220, 15%, 55%);
$dark-blue: hsl(218, 44%, 22%);

// Border

$round: 1.5rem;